.tech-container{
    background-color: rgb(8, 68, 68);
    padding: 25%;  
}
.tech-cart h1{
    color: rgb(231, 47, 26);
    position: absolute;
    top: 10%;
    left: 31%;
    font-size: 390%;
}
.tech1-cart{
    position: absolute;
    top: 40%;
    left: 20%;
}
.tech2-cart{
    color: white;
    font-family: "Lobster", sans-serif;
    animation: float 3s ease-in-out infinite;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}