@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Lobster&family=Pacifico&display=swap');
.body {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 4000;
  font-style: normal;
}
